<h4>
    <%= obj["Facility Name"] %>
</h4>             
<p>
    Address: <%= formatAddress(obj) %><br />
    Capacity: <%= obj["Capacity"] %><br />
    Opening: <%= obj["Opening"] %><br />
    Closing: <%= obj["Closing"] %><br />
    Discipline: <%= obj["Discipline"] %><br />
    Computers: <%= obj["Computers"] %><br />
    Food: <%= obj["Food"] %><br />
    Group Tables: <%= obj["Group Tables"] %><br />
    Area: <%= obj["Area"] %><br />
</p>