<h4>
    <%= obj["Facility Name"] %>
</h4>             
<p>
    <%= formatAddress(obj) %><br />
    <%= obj["Phone"] %><br />
    <%= obj["Capacity"] %><br />
    <%= obj["Opening"] %><br />
    <%= obj["Closing"] %><br />
    <%= obj["Discipline"] %><br />
    <%= obj["Computers"] %><br />
    <%= obj["Food"] %><br />
    <%= obj["Group Tables"] %><br />
    <%= obj["Area"] %><br />
</p>