<tr>                  
    <td>
        <%= obj["Facility Name"] %>
    </td>                  
    <td>
        <%= formatAddress(obj) %><br />
        (<a href='http://maps.google.com/?q=<%= formatAddress(obj) %>' target='_blank'>Get directions</a>)
    </td> 
    <td>
        <%= obj["Capacity"] %>
    </td>                 
    <td>
        <%= obj["Opening"] %>
    </td>
    <td>
        <%= obj["Closing"] %>
    </td>
    <td>
        <%= obj["Discipline"] %>
    </td>
    <td>
        <%= obj["Computer"] %>
    </td>
    <td>
        <%= obj["Food"] %>
    </td>
    <td>
        <%= obj["Group Table"] %>
    </td>
    <td>
        <%= obj["Area"] %>
    </td>
</tr>