<tr>                  
    <td>
        <%= obj["Facility Name"] %>
    </td>                  
    <td>
        <%= formatAddress(obj) %><br />
        (<a href='http://maps.google.com/?q=<%= formatAddress(obj) %>' target='_blank'>Get directions</a>)
    </td> 
    <td>
        <%= obj["Capacity"] %>
    </td>                 
    <td>
        <%= obj["Opening time"] %>
    </td>
    <td>
        <%= obj["Closing time"] %>
    </td>
    <td>
        <%= obj["Main Discipline"] %>
    </td>
    <td>
        <%= obj["Computers] %>
    </td>
    <td>
        <%= obj["Food Spots"] %>
    </td>
    <td>
        <%= obj["Group Tables"] %>
    </td>
    <td>
        <%= obj["Indoors/Outdoors"] %>
    </td>
</tr>